@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300;1,500;1,700&family=Signika:wght@300;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #2f2f40;
  margin: 0;
  padding: 0;
  line-height: 1.2; }

body {
  background-color: #f9fcff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika", sans-serif;
  font-weight: 700; }

.text-ff-title {
  font-family: "Signika", sans-serif !important; }

.text-ff-text {
  font-family: "Rubik", sans-serif !important; }

.text-lh-1 {
  line-height: 1; }

.text-lh-2 {
  line-height: 1.2; }

.text-lh-3,
p {
  line-height: 1.5; }

.text-lh-4 {
  line-height: 2; }

.text-fs-default {
  font-size: 0.9rem; }

.text-fs-1 {
  font-size: 1rem; }

.text-fs-2 {
  font-size: 1.5rem; }

.text-fs-3 {
  font-size: 2rem; }

.text-fs-4 {
  font-size: 2.5rem; }

.text-fs-5 {
  font-size: 3rem; }

.text-fs-6 {
  font-size: 3.5rem; }

.text-regular {
  font-weight: 300; }

.text-medium {
  font-weight: 500; }

.text-bold {
  font-weight: 700; }

.text-align-center {
  text-align: center; }

.text-align-start {
  text-align: start; }

.text-align-end {
  text-align: end; }

.text-align-justify {
  text-align: justify; }

.text-color-1 {
  color: #474763; }

.text-color-2 {
  color: #5d5d7a; }

.text-color-purple {
  color: #845dec !important; }

.text-color-blue {
  color: #51adf8 !important; }

.text-color-green {
  color: #3bcf85 !important; }

.text-color-yellow {
  color: #ffc14e !important; }

.text-color-salmon {
  color: #fa8072 !important; }

.text-color-red {
  color: #e34646 !important; }

.text-subtitle {
  color: #9eadbe;
  font-weight: 700; }

.container {
  width: 100%;
  padding: 1rem;
  margin: 0 auto; }
  @media (min-width: 900px) {
    .container {
      width: 70%;
      padding: 0; } }

.container-fluid {
  padding: 0 1rem; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  margin: -0.5rem; }

.flex-align-items-center {
  align-items: center; }

.flex-align-items-end {
  align-items: flex-end; }

.flex-justify-content-end {
  justify-content: end; }

.flex-justify-content-center {
  justify-content: center; }

.flex-justify-content-around {
  justify-content: space-around; }

.flex-justify-content-between {
  justify-content: space-between; }

.flex-justify-content-evenly {
  justify-content: space-evenly; }

.flex-item {
  padding: 0.5rem;
  flex: 0 0 auto; }

.flex-no-wrap {
  flex-wrap: nowrap; }

.fixed-top {
  position: fixed;
  top: 0; }

.fixed-left {
  position: fixed;
  left: 0; }

.fixed-bottom {
  position: fixed;
  bottom: 0; }

.fixed-right {
  position: fixed;
  right: 0; }

button {
  text-decoration: none;
  border-radius: 0;
  border: 0;
  cursor: pointer; }

.button-solid-purple {
  background-color: #845dec;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important; }

.button-solid-purple:hover {
  filter: brightness(1.2); }

.button-solid-blue {
  background-color: #51adf8;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important; }

.button-solid-blue:hover {
  filter: brightness(1.2); }

.button-solid-green {
  background-color: #3bcf85;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important; }

.button-solid-green:hover {
  filter: brightness(1.2); }

.button-solid-yellow {
  background-color: #ffc14e;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important; }

.button-solid-yellow:hover {
  filter: brightness(1.2); }

.button-solid-salmon {
  background-color: #fa8072;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important; }

.button-solid-salmon:hover {
  filter: brightness(1.2); }

.button-solid-red {
  background-color: #e34646;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important; }

.button-solid-red:hover {
  filter: brightness(1.2); }

.button-solid-reverse {
  background-color: #474763;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important; }

.button-solid-reverse:hover {
  filter: brightness(1.2); }

.button-secondary-purple {
  background-color: rgba(96, 67, 177, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #9470f5 !important;
  transition-duration: 0.2s !important; }

.button-secondary-purple:hover {
  opacity: 0.6; }

.button-secondary-blue {
  background-color: rgba(81, 173, 248, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #4795d4 !important;
  transition-duration: 0.2s !important; }

.button-secondary-blue:hover {
  opacity: 0.6; }

.button-secondary-green {
  background-color: rgba(59, 207, 133, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #3faa75 !important;
  transition-duration: 0.2s !important; }

.button-secondary-green:hover {
  opacity: 0.6; }

.button-secondary-yellow {
  background-color: rgba(255, 193, 78, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #d69927 !important;
  transition-duration: 0.2s !important; }

.button-secondary-yellow:hover {
  opacity: 0.6; }

.button-secondary-salmon {
  background-color: rgba(250, 128, 114, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #e66759 !important;
  transition-duration: 0.2s !important; }

.button-secondary-salmon:hover {
  opacity: 0.6; }

.button-secondary-red {
  background-color: rgba(227, 70, 70, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #be4040 !important;
  transition-duration: 0.2s !important; }

.button-secondary-red:hover {
  opacity: 0.6; }

.button-secondary-reverse {
  background-color: rgba(71, 71, 99, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #5d5d7a !important;
  transition-duration: 0.2s !important; }

.button-secondary-reverse:hover {
  opacity: 0.6; }

.button-secondary-reverse-dark {
  background-color: rgba(120, 120, 151, 0.2);
  color: #9eadbe !important; }

.button-empty {
  border: 1px solid black;
  border-color: #9eadbe;
  cursor: pointer;
  text-decoration: none;
  padding: 9px 17px;
  background-color: rgba(0, 0, 0, 0);
  color: #adafc3 !important;
  transition-duration: 0.2s !important; }

.button-empty:hover {
  filter: brightness(0.2); }

.button-empty-dark {
  border-color: #5d5d7a;
  transition-duration: 0.2s !important; }

.button-empty-dark:hover {
  filter: brightness(1.6); }

.button-1 {
  padding: 14px 24px; }

.button-2 {
  padding: 18px 36px; }

.button-3 {
  padding: 22px 50px; }

.button-empty-1 {
  padding: 13px 23px; }

.button-empty-2 {
  padding: 17px 35px; }

.button-empty-3 {
  padding: 21px 49px; }

a:hover {
  filter: brightness(0.6);
  transition-duration: 0.2s !important; }

.card {
  background-color: #fff; }

.card-title {
  border-bottom: 2px solid #f1f4f7;
  padding: 1rem; }

.card-content {
  padding: 1.5rem 1rem; }

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 20; }

.has-navbar {
  margin-top: 70px; }

.navbar-1 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 20; }

.has-navbar-1 {
  margin-top: 50px; }

.navbar-2 {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  z-index: 20; }

.has-navbar-2 {
  margin-top: 90px; }

.navbar-3 {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  z-index: 20; }

.has-navbar-3 {
  margin-top: 110px; }

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 900px) {
    .navbar-container {
      width: 70%;
      padding: 0; } }

.navbar-container-full {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto; }

.navbar-brand {
  text-decoration: none; }

.navbar-container ul,
.navbar-container-full ul {
  list-style: none;
  display: flex;
  align-items: center; }

.navbar-container li,
.navbar-container-full li {
  margin-left: 0.8rem; }

.navbar-container a,
.navbar-container-full a {
  text-decoration: none; }

.box-shadow {
  box-shadow: 0px 4px 20px rgba(150, 177, 205, 0.1); }

.bg-color-1 {
  background-color: #fff; }

.bg-color-2 {
  background-color: #f9fcff; }

.bg-color-3 {
  background-color: #f1f4f7; }

.bg-color-4 {
  background-color: #d7dee6; }

.bg-color-purple {
  background-color: #845dec; }

.bg-color-blue {
  background-color: #51adf8; }

.bg-color-green {
  background-color: #3bcf85; }

.bg-color-yellow {
  background-color: #ffc14e; }

.bg-color-salmon {
  background-color: #fa8072; }

.bg-color-red {
  background-color: #e34646; }

.bg-color-reverse {
  background-color: #474763; }

.bg-color-green {
  background-color: #3bcf85; }

.bg-color-blue {
  background-color: #51adf8; }

.bg-color-yellow {
  background-color: #ffc14e; }

.bg-color-salmon {
  background-color: #fa8072; }

.bg-color-red {
  background-color: #e34646; }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-8 {
  width: 66.6666666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-12 {
  width: 100%; }

@media (min-width: 600px) {
  .col-sm-1 {
    width: 8.3333333333%; } }

@media (min-width: 600px) {
  .col-sm-2 {
    width: 16.6666666667%; } }

@media (min-width: 600px) {
  .col-sm-3 {
    width: 25%; } }

@media (min-width: 600px) {
  .col-sm-4 {
    width: 33.3333333333%; } }

@media (min-width: 600px) {
  .col-sm-5 {
    width: 41.6666666667%; } }

@media (min-width: 600px) {
  .col-sm-6 {
    width: 50%; } }

@media (min-width: 600px) {
  .col-sm-7 {
    width: 58.3333333333%; } }

@media (min-width: 600px) {
  .col-sm-8 {
    width: 66.6666666667%; } }

@media (min-width: 600px) {
  .col-sm-9 {
    width: 75%; } }

@media (min-width: 600px) {
  .col-sm-10 {
    width: 83.3333333333%; } }

@media (min-width: 600px) {
  .col-sm-11 {
    width: 91.6666666667%; } }

@media (min-width: 600px) {
  .col-sm-12 {
    width: 100%; } }

@media (min-width: 900px) {
  .col-md-1 {
    width: 8.3333333333%; } }

@media (min-width: 900px) {
  .col-md-2 {
    width: 16.6666666667%; } }

@media (min-width: 900px) {
  .col-md-3 {
    width: 25%; } }

@media (min-width: 900px) {
  .col-md-4 {
    width: 33.3333333333%; } }

@media (min-width: 900px) {
  .col-md-5 {
    width: 41.6666666667%; } }

@media (min-width: 900px) {
  .col-md-6 {
    width: 50%; } }

@media (min-width: 900px) {
  .col-md-7 {
    width: 58.3333333333%; } }

@media (min-width: 900px) {
  .col-md-8 {
    width: 66.6666666667%; } }

@media (min-width: 900px) {
  .col-md-9 {
    width: 75%; } }

@media (min-width: 900px) {
  .col-md-10 {
    width: 83.3333333333%; } }

@media (min-width: 900px) {
  .col-md-11 {
    width: 91.6666666667%; } }

@media (min-width: 900px) {
  .col-md-12 {
    width: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333333333%; } }

@media (min-width: 1200px) {
  .col-lg-2 {
    width: 16.6666666667%; } }

@media (min-width: 1200px) {
  .col-lg-3 {
    width: 25%; } }

@media (min-width: 1200px) {
  .col-lg-4 {
    width: 33.3333333333%; } }

@media (min-width: 1200px) {
  .col-lg-5 {
    width: 41.6666666667%; } }

@media (min-width: 1200px) {
  .col-lg-6 {
    width: 50%; } }

@media (min-width: 1200px) {
  .col-lg-7 {
    width: 58.3333333333%; } }

@media (min-width: 1200px) {
  .col-lg-8 {
    width: 66.6666666667%; } }

@media (min-width: 1200px) {
  .col-lg-9 {
    width: 75%; } }

@media (min-width: 1200px) {
  .col-lg-10 {
    width: 83.3333333333%; } }

@media (min-width: 1200px) {
  .col-lg-11 {
    width: 91.6666666667%; } }

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%; } }

@media (min-width: 1800px) {
  .col-xl-1 {
    width: 8.3333333333%; } }

@media (min-width: 1800px) {
  .col-xl-2 {
    width: 16.6666666667%; } }

@media (min-width: 1800px) {
  .col-xl-3 {
    width: 25%; } }

@media (min-width: 1800px) {
  .col-xl-4 {
    width: 33.3333333333%; } }

@media (min-width: 1800px) {
  .col-xl-5 {
    width: 41.6666666667%; } }

@media (min-width: 1800px) {
  .col-xl-6 {
    width: 50%; } }

@media (min-width: 1800px) {
  .col-xl-7 {
    width: 58.3333333333%; } }

@media (min-width: 1800px) {
  .col-xl-8 {
    width: 66.6666666667%; } }

@media (min-width: 1800px) {
  .col-xl-9 {
    width: 75%; } }

@media (min-width: 1800px) {
  .col-xl-10 {
    width: 83.3333333333%; } }

@media (min-width: 1800px) {
  .col-xl-11 {
    width: 91.6666666667%; } }

@media (min-width: 1800px) {
  .col-xl-12 {
    width: 100%; } }

.d-none {
  display: none; }

.d-inline {
  display: inline; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.d-flex {
  display: flex; }

.d-grid {
  display: grid; }

.d-contents {
  display: contents; }

@media (min-width: 600px) {
  .d-sm-none {
    display: none; } }

@media (min-width: 600px) {
  .d-sm-inline {
    display: inline; } }

@media (min-width: 600px) {
  .d-sm-block {
    display: block; } }

@media (min-width: 600px) {
  .d-sm-inline-block {
    display: inline-block; } }

@media (min-width: 600px) {
  .d-sm-flex {
    display: flex; } }

@media (min-width: 600px) {
  .d-sm-grid {
    display: grid; } }

@media (min-width: 600px) {
  .d-sm-contents {
    display: contents; } }

@media (min-width: 900px) {
  .d-md-none {
    display: none; } }

@media (min-width: 900px) {
  .d-md-inline {
    display: inline; } }

@media (min-width: 900px) {
  .d-md-block {
    display: block; } }

@media (min-width: 900px) {
  .d-md-inline-block {
    display: inline-block; } }

@media (min-width: 900px) {
  .d-md-flex {
    display: flex; } }

@media (min-width: 900px) {
  .d-md-grid {
    display: grid; } }

@media (min-width: 900px) {
  .d-md-contents {
    display: contents; } }

@media (min-width: 1200px) {
  .d-lg-none {
    display: none; } }

@media (min-width: 1200px) {
  .d-lg-inline {
    display: inline; } }

@media (min-width: 1200px) {
  .d-lg-block {
    display: block; } }

@media (min-width: 1200px) {
  .d-lg-inline-block {
    display: inline-block; } }

@media (min-width: 1200px) {
  .d-lg-flex {
    display: flex; } }

@media (min-width: 1200px) {
  .d-lg-grid {
    display: grid; } }

@media (min-width: 1200px) {
  .d-lg-contents {
    display: contents; } }

@media (min-width: 1800px) {
  .d-xl-none {
    display: none; } }

@media (min-width: 1800px) {
  .d-xl-inline {
    display: inline; } }

@media (min-width: 1800px) {
  .d-xl-block {
    display: block; } }

@media (min-width: 1800px) {
  .d-xl-inline-block {
    display: inline-block; } }

@media (min-width: 1800px) {
  .d-xl-flex {
    display: flex; } }

@media (min-width: 1800px) {
  .d-xl-grid {
    display: grid; } }

@media (min-width: 1800px) {
  .d-xl-contents {
    display: contents; } }

.b-0 {
  border: 0px solid #d7dee6; }

.by-0 {
  border-top: 0px solid #d7dee6;
  border-bottom: 0px solid #d7dee6; }

.bt-0 {
  border-top: 0px solid #d7dee6; }

.bb-0 {
  border-bottom: 0px solid #d7dee6; }

.bx-0 {
  border-right: 0px solid #d7dee6;
  border-left: 0px solid #d7dee6; }

.br-0 {
  border-right: 0px solid #d7dee6; }

.bl-0 {
  border-left: 0px solid #d7dee6; }

.b-1 {
  border: 1px solid #d7dee6; }

.by-1 {
  border-top: 1px solid #d7dee6;
  border-bottom: 1px solid #d7dee6; }

.bt-1 {
  border-top: 1px solid #d7dee6; }

.bb-1 {
  border-bottom: 1px solid #d7dee6; }

.bx-1 {
  border-right: 1px solid #d7dee6;
  border-left: 1px solid #d7dee6; }

.br-1 {
  border-right: 1px solid #d7dee6; }

.bl-1 {
  border-left: 1px solid #d7dee6; }

.b-2 {
  border: 2px solid #d7dee6; }

.by-2 {
  border-top: 2px solid #d7dee6;
  border-bottom: 2px solid #d7dee6; }

.bt-2 {
  border-top: 2px solid #d7dee6; }

.bb-2 {
  border-bottom: 2px solid #d7dee6; }

.bx-2 {
  border-right: 2px solid #d7dee6;
  border-left: 2px solid #d7dee6; }

.br-2 {
  border-right: 2px solid #d7dee6; }

.bl-2 {
  border-left: 2px solid #d7dee6; }

.b-3 {
  border: 3px solid #d7dee6; }

.by-3 {
  border-top: 3px solid #d7dee6;
  border-bottom: 3px solid #d7dee6; }

.bt-3 {
  border-top: 3px solid #d7dee6; }

.bb-3 {
  border-bottom: 3px solid #d7dee6; }

.bx-3 {
  border-right: 3px solid #d7dee6;
  border-left: 3px solid #d7dee6; }

.br-3 {
  border-right: 3px solid #d7dee6; }

.bl-3 {
  border-left: 3px solid #d7dee6; }

.b-4 {
  border: 4px solid #d7dee6; }

.by-4 {
  border-top: 4px solid #d7dee6;
  border-bottom: 4px solid #d7dee6; }

.bt-4 {
  border-top: 4px solid #d7dee6; }

.bb-4 {
  border-bottom: 4px solid #d7dee6; }

.bx-4 {
  border-right: 4px solid #d7dee6;
  border-left: 4px solid #d7dee6; }

.br-4 {
  border-right: 4px solid #d7dee6; }

.bl-4 {
  border-left: 4px solid #d7dee6; }

.b-5 {
  border: 5px solid #d7dee6; }

.by-5 {
  border-top: 5px solid #d7dee6;
  border-bottom: 5px solid #d7dee6; }

.bt-5 {
  border-top: 5px solid #d7dee6; }

.bb-5 {
  border-bottom: 5px solid #d7dee6; }

.bx-5 {
  border-right: 5px solid #d7dee6;
  border-left: 5px solid #d7dee6; }

.br-5 {
  border-right: 5px solid #d7dee6; }

.bl-5 {
  border-left: 5px solid #d7dee6; }

.rounded-top-1 {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }

.rounded-right-1 {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }

.rounded-bottom-1 {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.rounded-left-1 {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

.rounded-1 {
  border-radius: 4px; }

.rounded-top-2 {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px; }

.rounded-right-2 {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px; }

.rounded-bottom-2 {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px; }

.rounded-left-2 {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px; }

.rounded-2 {
  border-radius: 8px; }

.rounded-top-3 {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px; }

.rounded-right-3 {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px; }

.rounded-bottom-3 {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px; }

.rounded-left-3 {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px; }

.rounded-3 {
  border-radius: 12px; }

.rounded-top-4 {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px; }

.rounded-right-4 {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px; }

.rounded-bottom-4 {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px; }

.rounded-left-4 {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px; }

.rounded-4 {
  border-radius: 16px; }

.rounded-top-5 {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px; }

.rounded-right-5 {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px; }

.rounded-bottom-5 {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; }

.rounded-left-5 {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px; }

.rounded-5 {
  border-radius: 20px; }

.rounded-top-max {
  border-top-right-radius: 9999px;
  border-top-left-radius: 9999px; }

.rounded-right-max {
  border-bottom-right-radius: 9999px;
  border-top-right-radius: 9999px; }

.rounded-bottom-max {
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px; }

.rounded-left-max {
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px; }

.rounded-max {
  border-radius: 9999px; }

.b-color-1 {
  border-color: #fff; }

.b-color-2 {
  border-color: #f9fcff; }

.b-color-3 {
  border-color: #f1f4f7; }

.b-color-4 {
  border-color: #d7dee6; }

.b-color-5 {
  border-color: #9eadbe; }

.b-color-reverse {
  border-color: #474763; }

.b-color-green {
  border-color: #3bcf85; }

.b-color-blue {
  border-color: #51adf8; }

.b-color-yellow {
  border-color: #ffc14e; }

.b-color-salmon {
  border-color: #fa8072; }

.b-color-red {
  border-color: #e34646; }

.p-1 {
  padding: 0.5rem; }

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pt-1 {
  padding-top: 0.5rem; }

.pb-1 {
  padding-bottom: 0.5rem; }

.px-1 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.pr-1 {
  padding-right: 0.5rem; }

.pl-1 {
  padding-left: 0.5rem; }

.p-2 {
  padding: 1rem; }

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pt-2 {
  padding-top: 1rem; }

.pb-2 {
  padding-bottom: 1rem; }

.px-2 {
  padding-right: 1rem;
  padding-left: 1rem; }

.pr-2 {
  padding-right: 1rem; }

.pl-2 {
  padding-left: 1rem; }

.p-3 {
  padding: 1.5rem; }

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.pt-3 {
  padding-top: 1.5rem; }

.pb-3 {
  padding-bottom: 1.5rem; }

.px-3 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.pr-3 {
  padding-right: 1.5rem; }

.pl-3 {
  padding-left: 1.5rem; }

.p-4 {
  padding: 2rem; }

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pt-4 {
  padding-top: 2rem; }

.pb-4 {
  padding-bottom: 2rem; }

.px-4 {
  padding-right: 2rem;
  padding-left: 2rem; }

.pr-4 {
  padding-right: 2rem; }

.pl-4 {
  padding-left: 2rem; }

.p-5 {
  padding: 2.5rem; }

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.pt-5 {
  padding-top: 2.5rem; }

.pb-5 {
  padding-bottom: 2.5rem; }

.px-5 {
  padding-right: 2.5rem;
  padding-left: 2.5rem; }

.pr-5 {
  padding-right: 2.5rem; }

.pl-5 {
  padding-left: 2.5rem; }

.m-1 {
  margin: 0.5rem; }

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.mt-1 {
  margin-top: 0.5rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.mx-1 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.mr-1 {
  margin-right: 0.5rem; }

.ml-1 {
  margin-left: 0.5rem; }

.m-2 {
  margin: 1rem; }

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mt-2 {
  margin-top: 1rem; }

.mb-2 {
  margin-bottom: 1rem; }

.mx-2 {
  margin-right: 1rem;
  margin-left: 1rem; }

.mr-2 {
  margin-right: 1rem; }

.ml-2 {
  margin-left: 1rem; }

.m-3 {
  margin: 1.5rem; }

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.mt-3 {
  margin-top: 1.5rem; }

.mb-3 {
  margin-bottom: 1.5rem; }

.mx-3 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.mr-3 {
  margin-right: 1.5rem; }

.ml-3 {
  margin-left: 1.5rem; }

.m-4 {
  margin: 2rem; }

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mt-4 {
  margin-top: 2rem; }

.mb-4 {
  margin-bottom: 2rem; }

.mx-4 {
  margin-right: 2rem;
  margin-left: 2rem; }

.mr-4 {
  margin-right: 2rem; }

.ml-4 {
  margin-left: 2rem; }

.m-5 {
  margin: 2.5rem; }

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.mt-5 {
  margin-top: 2.5rem; }

.mb-5 {
  margin-bottom: 2.5rem; }

.mx-5 {
  margin-right: 2.5rem;
  margin-left: 2.5rem; }

.mr-5 {
  margin-right: 2.5rem; }

.ml-5 {
  margin-left: 2.5rem; }

.mx-auto {
  margin: 0 auto; }

/*# sourceMappingURL=mischiefer.css.map */
