@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300;1,500;1,700&family=Signika:wght@300;500;700&display=swap");

@mixin sm {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1800px) {
    @content;
  }
}

$text: "Rubik", sans-serif;
$title: "Signika", sans-serif;

$regular: 300;
$medium: 500;
$bold: 700;

$light1: #fff;
$light2: #f9fcff;
$light3: #f1f4f7;
$light4: #d7dee6;
$light5: #9eadbe;

$light-colors: $light1, $light2, $light3, $light4, $light5;

$dark1: #37374f;
$dark2: #2f2f40;
$dark3: #474763;
$dark4: #5d5d7a;
$dark5: #adafc3;

$dark-colors: $dark1, $dark2, $dark3, $dark4, $dark5;

$purple: #845dec;
$blue: #51adf8;
$green: #3bcf85;
$yellow: #ffc14e;
$salmon: #fa8072;
$red: #e34646;
$reverse: #474763;

$mono-colors: $dark3, $dark4, $dark5;
$all-colors: $purple, $blue, $green, $yellow, $salmon, $red, $reverse;
$all-colors-dark: #9470f5, #4795d4, #3faa75, #d69927, #e66759, #be4040, $dark4;
$all-colors-low-opacity: rgba(96, 67, 177, 0.2), rgba(81, 173, 248, 0.2), rgba(59, 207, 133, 0.2),
  rgba(255, 193, 78, 0.2), rgba(250, 128, 114, 0.2), rgba(227, 70, 70, 0.2), rgba(71, 71, 99, 0.2);
$all-colors-name: 'purple', 'blue', 'green', 'yellow', 'salmon', 'red', 'reverse';

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  font-family: $text;
  font-weight: $regular;
  color: $dark2;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

body {
  background-color: $light2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title;
  font-weight: $bold;
}

// TEXT =========================================================================

// Family

.text-ff-title {
  font-family: $title !important;
}

.text-ff-text {
  font-family: $text !important;
}

// Line Height

.text-lh-1 {
  line-height: 1;
}

.text-lh-2 {
  line-height: 1.2;
}

.text-lh-3,
p {
  line-height: 1.5;
}

.text-lh-4 {
  line-height: 2;
}

// Size

.text-fs-default {
  font-size: 0.9rem;
}

@for $i from 1 to 7 {
  .text-fs-#{$i} {
    font-size: 0.5rem + (0.5rem * $i);
  }
}

// Weight

.text-regular {
  font-weight: $regular;
}

.text-medium {
  font-weight: $medium;
}

.text-bold {
  font-weight: $bold;
}

// Position

.text-align-center {
  text-align: center;
}

.text-align-start {
  text-align: start;
}

.text-align-end {
  text-align: end;
}

.text-align-justify {
  text-align: justify;
}

// Colors

@for $i from 1 to length($mono-colors) {
  .text-color-#{$i} {
    color: nth($mono-colors, $i);
  }
}

@for $i from 1 to length($all-colors) {
  $name: unquote(nth($all-colors-name, $i));
  .text-color-#{$name} {
    color: nth($all-colors, $i) !important;
  }
}

.text-subtitle {
  color: $light5;
  font-weight: $bold;
}

// CONTAINERS ===================================================================

.container {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  @include md {
    width: 70%;
    padding: 0;
  }
}

.container-fluid {
  padding: 0 1rem;
}

// FLEX =========================================================================

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  margin: -0.5rem;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-end {
  align-items: flex-end;
}

.flex-justify-content-end {
  justify-content: end;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-around {
  justify-content: space-around;
}

.flex-justify-content-between {
  justify-content: space-between;
}

.flex-justify-content-evenly {
  justify-content: space-evenly;
}

.flex-item {
  padding: 0.5rem;
  flex: 0 0 auto;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

// POSITIONING ==================================================================

.fixed-top {
  position: fixed;
  top: 0;
}

.fixed-left {
  position: fixed;
  left: 0;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.fixed-right {
  position: fixed;
  right: 0;
}

// FORM =========================================================================

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  font-family: $text;
}

form > * {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid $light4;
  font-family: $text;
}

input[type="color"] {
  height: 60px;
}

.form-dark > * {
  border: 1px solid $dark3;
  background-color: $dark1;
}

.form-dark input[type="checkbox"],
.form-dark input[type="radio"],
.form-dark input[type="range"] {
  filter: invert(85%) hue-rotate(-200deg);
}

// BUTTON =======================================================================

button {
  text-decoration: none;
  border-radius: 0;
  border: 0;
  cursor: pointer;
}

@for $i from 1 to 8 {
  $name: unquote(nth($all-colors-name, $i));
  .button-solid-#{$name} {
    background-color: nth($all-colors, $i);
    cursor: pointer;
    text-decoration: none;
    border: 0;
    padding: 10px 18px;
    transition-duration: 0.2s !important;
  }

  .button-solid-#{$name}:hover {
    filter: brightness(1.2);
  }
}

@for $i from 1 to 8 {
  $name: unquote(nth($all-colors-name, $i));
  .button-secondary-#{$name} {
    background-color: nth($all-colors-low-opacity, $i);
    cursor: pointer;
    text-decoration: none;
    border: 0;
    padding: 10px 18px;
    color: nth($all-colors-dark, $i) !important;
    transition-duration: 0.2s !important;
  }

  .button-secondary-#{$name}:hover {
    //filter: brightness(1.3);
    opacity: 0.6;
  }
}

.button-secondary-reverse-dark {
  background-color: rgba(120, 120, 151, 0.2);
  color: $light5 !important;
}

.button-empty {
  border: 1px solid black;
  border-color: $light5;
  cursor: pointer;
  text-decoration: none;
  padding: 9px 17px;
  background-color: rgba(0,0,0,0);
  color: $dark5 !important;
  transition-duration: 0.2s !important;
}

.button-empty:hover {
  filter: brightness(0.2);
}

.button-empty-dark {
  border-color: $dark4;
  transition-duration: 0.2s !important;
}

.button-empty-dark:hover {
  filter: brightness(1.6);
}

.button-1 {
  padding: 14px 24px;
}

.button-2 {
  padding: 18px 36px;
}

.button-3 {
  padding: 22px 50px;
}

.button-empty-1 {
  padding: 13px 23px;
}

.button-empty-2 {
  padding: 17px 35px;
}

.button-empty-3 {
  padding: 21px 49px;
}

// ANCHOR =======================================================================

a:hover {
  filter: brightness(0.6);
  transition-duration: 0.2s !important;
}

// CARD =========================================================================

.card {
  background-color: $light1;
}

.card-title {
  border-bottom: 2px solid $light3;
  padding: 1rem;
}

.card-content {
  padding: 1.5rem 1rem;
}

// NAVBAR =======================================================================

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 20;
}

.has-navbar {
  margin-top: 70px;
}

.navbar-1 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 20;
}

.has-navbar-1 {
  margin-top: 50px;
}

.navbar-2 {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  z-index: 20;
}

.has-navbar-2 {
  margin-top: 90px;
}

.navbar-3 {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  z-index: 20;
}

.has-navbar-3 {
  margin-top: 110px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  @include md {
    width: 70%;
    padding: 0;
  }
}

.navbar-container-full {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.navbar-brand {
  text-decoration: none;
}

.navbar-container ul,
.navbar-container-full ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-container li,
.navbar-container-full li {
  margin-left: 0.8rem;
}

.navbar-container a,
.navbar-container-full a {
  text-decoration: none;
}

// BOX-SHADOW ===================================================================

.box-shadow {
  box-shadow: 0px 4px 20px rgba(150, 177, 205, 0.1);
}

// BACKGROUND-COLOR =============================================================

@for $i from 1 to length($light-colors) {
  .bg-color-#{$i} {
    background-color: nth($light-colors, $i);
  }
}

@for $i from 1 to length($all-colors) {
  $name: unquote(nth($all-colors-name, $i));
  .bg-color-#{$name} {
    background-color: nth($all-colors, $i);
  }
}

// SIZE =========================================================================

@for $i from 1 to 13 {
  .col-#{$i} {
    width: (100%/12) * $i;
  }
}

@for $i from 1 to 13 {
  .col-sm-#{$i} {
    @include sm {
      width: (100%/12) * $i;
    }
  }
}

@for $i from 1 to 13 {
  .col-md-#{$i} {
    @include md {
      width: (100%/12) * $i;
    }
  }
}

@for $i from 1 to 13 {
  .col-lg-#{$i} {
    @include lg {
      width: (100%/12) * $i;
    }
  }
}

@for $i from 1 to 13 {
  .col-xl-#{$i} {
    @include xl {
      width: (100%/12) * $i;
    }
  }
}

// DISPLAY ======================================================================

$display-types: none, inline, block, inline-block, flex, grid, contents, initial;

@for $i from 1 to length($display-types) {
  .d-#{nth($display-types, $i)} {
    display: nth($display-types, $i);
  }
}

@for $i from 1 to length($display-types) {
  .d-sm-#{nth($display-types, $i)} {
    @include sm {
      display: nth($display-types, $i);
    }
  }
}

@for $i from 1 to length($display-types) {
  .d-md-#{nth($display-types, $i)} {
    @include md {
      display: nth($display-types, $i);
    }
  }
}

@for $i from 1 to length($display-types) {
  .d-lg-#{nth($display-types, $i)} {
    @include lg {
      display: nth($display-types, $i);
    }
  }
}

@for $i from 1 to length($display-types) {
  .d-xl-#{nth($display-types, $i)} {
    @include xl {
      display: nth($display-types, $i);
    }
  }
}

// BORDER =======================================================================

// Self

@for $i from 0 to 6 {
  .b-#{$i} {
    border: $i * 1px solid $light4;
  }

  // Vertical

  .by-#{$i} {
    border-top: $i * 1px solid $light4;
    border-bottom: $i * 1px solid $light4;
  }

  .bt-#{$i} {
    border-top: $i * 1px solid $light4;
  }

  .bb-#{$i} {
    border-bottom: $i * 1px solid $light4;
  }

  // Horizontal

  .bx-#{$i} {
    border-right: $i * 1px solid $light4;
    border-left: $i * 1px solid $light4;
  }

  .br-#{$i} {
    border-right: $i * 1px solid $light4;
  }

  .bl-#{$i} {
    border-left: $i * 1px solid $light4;
  }
}

// Radius

@for $i from 1 to 6 {
  $size: 4px * $i;

  .rounded-top-#{$i} {
    border-top-right-radius: $size;
    border-top-left-radius: $size;
  }
  
  .rounded-right-#{$i} {
    border-bottom-right-radius: $size;
    border-top-right-radius: $size;
  }
  
  .rounded-bottom-#{$i} {
    border-bottom-right-radius: $size;
    border-bottom-left-radius: $size;
  }
  
  .rounded-left-#{$i} {
    border-bottom-left-radius: $size;
    border-top-left-radius: $size;
  }
  
  .rounded-#{$i} {
    border-radius: $size;
  }
}

.rounded-top-max {
  border-top-right-radius: 9999px;
  border-top-left-radius: 9999px;
}

.rounded-right-max {
  border-bottom-right-radius: 9999px;
  border-top-right-radius: 9999px;
}

.rounded-bottom-max {
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.rounded-left-max {
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
}

.rounded-max {
  border-radius: 9999px;
}

// Color

.b-color-1 {
  border-color: $light1;
}

.b-color-2 {
  border-color: $light2;
}

.b-color-3 {
  border-color: $light3;
}

.b-color-4 {
  border-color: $light4;
}

.b-color-5 {
  border-color: $light5;
}

.b-color-reverse {
  border-color: $dark3;
}

.b-color-green {
  border-color: #3bcf85;
}

.b-color-blue {
  border-color: #51adf8;
}

.b-color-yellow {
  border-color: #ffc14e;
}

.b-color-salmon {
  border-color: #fa8072;
}

.b-color-red {
  border-color: #e34646;
}

// PADDING ======================================================================

@for $i from 1 to 6 {
  $size: $i * 0.5rem;

  .p-#{$i} {
    padding: $size;
  }

  // Vertical

  .py-#{$i} {
    padding-top: $size;
    padding-bottom: $size;
  }

  .pt-#{$i} {
    padding-top: $size;
  }

  .pb-#{$i} {
    padding-bottom: $size;
  }

  // Horizontal

  .px-#{$i} {
    padding-right: $size;
    padding-left: $size;
  }

  .pr-#{$i} {
    padding-right: $size;
  }

  .pl-#{$i} {
    padding-left: $size;
  }
}

// MARGIN =======================================================================

@for $i from 1 to 6 {
  $size: $i * 0.5rem;

  .m-#{$i} {
    margin: $size;
  }

  // Vertical

  .my-#{$i} {
    margin-top: $size;
    margin-bottom: $size;
  }

  .mt-#{$i} {
    margin-top: $size;
  }

  .mb-#{$i} {
    margin-bottom: $size;
  }

  // Horizontal

  .mx-#{$i} {
    margin-right: $size;
    margin-left: $size;
  }

  .mr-#{$i} {
    margin-right: $size;
  }

  .ml-#{$i} {
    margin-left: $size;
  }
}

.mx-auto {
  margin: 0 auto;
}

