@import 'configs';

// CONTAINERS ===================================================================

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  @include md {
    width: 70%;
    padding: 0;
  }
}

.container-fluid {
  padding: 0 1rem;
}