@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300;1,500;1,700&family=Signika:wght@300;500;700&display=swap");
/* line 64, ../temp/mischiefer/scss/addons/configs.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #2f2f40;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 0.95rem;
}

/* line 77, ../temp/mischiefer/scss/addons/configs.scss */
body {
  background-color: #f5f9fc;
}

/* line 81, ../temp/mischiefer/scss/addons/configs.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika", sans-serif;
  font-weight: 700;
}

/* line 8, ../temp/mischiefer/scss/addons/display.scss */
.d-none {
  display: none;
}

/* line 8, ../temp/mischiefer/scss/addons/display.scss */
.d-inline {
  display: inline;
}

/* line 8, ../temp/mischiefer/scss/addons/display.scss */
.d-block {
  display: block;
}

/* line 8, ../temp/mischiefer/scss/addons/display.scss */
.d-inline-block {
  display: inline-block;
}

/* line 8, ../temp/mischiefer/scss/addons/display.scss */
.d-flex {
  display: flex;
}

/* line 8, ../temp/mischiefer/scss/addons/display.scss */
.d-grid {
  display: grid;
}

/* line 8, ../temp/mischiefer/scss/addons/display.scss */
.d-contents {
  display: contents;
}

@media (min-width: 600px) {
  /* line 14, ../temp/mischiefer/scss/addons/display.scss */
  .d-sm-none {
    display: none;
  }
}

@media (min-width: 600px) {
  /* line 14, ../temp/mischiefer/scss/addons/display.scss */
  .d-sm-inline {
    display: inline;
  }
}

@media (min-width: 600px) {
  /* line 14, ../temp/mischiefer/scss/addons/display.scss */
  .d-sm-block {
    display: block;
  }
}

@media (min-width: 600px) {
  /* line 14, ../temp/mischiefer/scss/addons/display.scss */
  .d-sm-inline-block {
    display: inline-block;
  }
}

@media (min-width: 600px) {
  /* line 14, ../temp/mischiefer/scss/addons/display.scss */
  .d-sm-flex {
    display: flex;
  }
}

@media (min-width: 600px) {
  /* line 14, ../temp/mischiefer/scss/addons/display.scss */
  .d-sm-grid {
    display: grid;
  }
}

@media (min-width: 600px) {
  /* line 14, ../temp/mischiefer/scss/addons/display.scss */
  .d-sm-contents {
    display: contents;
  }
}

@media (min-width: 900px) {
  /* line 22, ../temp/mischiefer/scss/addons/display.scss */
  .d-md-none {
    display: none;
  }
}

@media (min-width: 900px) {
  /* line 22, ../temp/mischiefer/scss/addons/display.scss */
  .d-md-inline {
    display: inline;
  }
}

@media (min-width: 900px) {
  /* line 22, ../temp/mischiefer/scss/addons/display.scss */
  .d-md-block {
    display: block;
  }
}

@media (min-width: 900px) {
  /* line 22, ../temp/mischiefer/scss/addons/display.scss */
  .d-md-inline-block {
    display: inline-block;
  }
}

@media (min-width: 900px) {
  /* line 22, ../temp/mischiefer/scss/addons/display.scss */
  .d-md-flex {
    display: flex;
  }
}

@media (min-width: 900px) {
  /* line 22, ../temp/mischiefer/scss/addons/display.scss */
  .d-md-grid {
    display: grid;
  }
}

@media (min-width: 900px) {
  /* line 22, ../temp/mischiefer/scss/addons/display.scss */
  .d-md-contents {
    display: contents;
  }
}

@media (min-width: 1200px) {
  /* line 30, ../temp/mischiefer/scss/addons/display.scss */
  .d-lg-none {
    display: none;
  }
}

@media (min-width: 1200px) {
  /* line 30, ../temp/mischiefer/scss/addons/display.scss */
  .d-lg-inline {
    display: inline;
  }
}

@media (min-width: 1200px) {
  /* line 30, ../temp/mischiefer/scss/addons/display.scss */
  .d-lg-block {
    display: block;
  }
}

@media (min-width: 1200px) {
  /* line 30, ../temp/mischiefer/scss/addons/display.scss */
  .d-lg-inline-block {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  /* line 30, ../temp/mischiefer/scss/addons/display.scss */
  .d-lg-flex {
    display: flex;
  }
}

@media (min-width: 1200px) {
  /* line 30, ../temp/mischiefer/scss/addons/display.scss */
  .d-lg-grid {
    display: grid;
  }
}

@media (min-width: 1200px) {
  /* line 30, ../temp/mischiefer/scss/addons/display.scss */
  .d-lg-contents {
    display: contents;
  }
}

@media (min-width: 1800px) {
  /* line 38, ../temp/mischiefer/scss/addons/display.scss */
  .d-xl-none {
    display: none;
  }
}

@media (min-width: 1800px) {
  /* line 38, ../temp/mischiefer/scss/addons/display.scss */
  .d-xl-inline {
    display: inline;
  }
}

@media (min-width: 1800px) {
  /* line 38, ../temp/mischiefer/scss/addons/display.scss */
  .d-xl-block {
    display: block;
  }
}

@media (min-width: 1800px) {
  /* line 38, ../temp/mischiefer/scss/addons/display.scss */
  .d-xl-inline-block {
    display: inline-block;
  }
}

@media (min-width: 1800px) {
  /* line 38, ../temp/mischiefer/scss/addons/display.scss */
  .d-xl-flex {
    display: flex;
  }
}

@media (min-width: 1800px) {
  /* line 38, ../temp/mischiefer/scss/addons/display.scss */
  .d-xl-grid {
    display: grid;
  }
}

@media (min-width: 1800px) {
  /* line 38, ../temp/mischiefer/scss/addons/display.scss */
  .d-xl-contents {
    display: contents;
  }
}

/*# sourceMappingURL=display.css.map */