/* line 6, ../temp/mischiefer/scss/addons/margin.scss */
.m-1 {
  margin: 0.5rem;
}

/* line 12, ../temp/mischiefer/scss/addons/margin.scss */
.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* line 17, ../temp/mischiefer/scss/addons/margin.scss */
.mt-1 {
  margin-top: 0.5rem;
}

/* line 21, ../temp/mischiefer/scss/addons/margin.scss */
.mb-1 {
  margin-bottom: 0.5rem;
}

/* line 27, ../temp/mischiefer/scss/addons/margin.scss */
.mx-1 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

/* line 32, ../temp/mischiefer/scss/addons/margin.scss */
.mr-1 {
  margin-right: 0.5rem;
}

/* line 36, ../temp/mischiefer/scss/addons/margin.scss */
.ml-1 {
  margin-left: 0.5rem;
}

/* line 6, ../temp/mischiefer/scss/addons/margin.scss */
.m-2 {
  margin: 1rem;
}

/* line 12, ../temp/mischiefer/scss/addons/margin.scss */
.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* line 17, ../temp/mischiefer/scss/addons/margin.scss */
.mt-2 {
  margin-top: 1rem;
}

/* line 21, ../temp/mischiefer/scss/addons/margin.scss */
.mb-2 {
  margin-bottom: 1rem;
}

/* line 27, ../temp/mischiefer/scss/addons/margin.scss */
.mx-2 {
  margin-right: 1rem;
  margin-left: 1rem;
}

/* line 32, ../temp/mischiefer/scss/addons/margin.scss */
.mr-2 {
  margin-right: 1rem;
}

/* line 36, ../temp/mischiefer/scss/addons/margin.scss */
.ml-2 {
  margin-left: 1rem;
}

/* line 6, ../temp/mischiefer/scss/addons/margin.scss */
.m-3 {
  margin: 1.5rem;
}

/* line 12, ../temp/mischiefer/scss/addons/margin.scss */
.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 17, ../temp/mischiefer/scss/addons/margin.scss */
.mt-3 {
  margin-top: 1.5rem;
}

/* line 21, ../temp/mischiefer/scss/addons/margin.scss */
.mb-3 {
  margin-bottom: 1.5rem;
}

/* line 27, ../temp/mischiefer/scss/addons/margin.scss */
.mx-3 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

/* line 32, ../temp/mischiefer/scss/addons/margin.scss */
.mr-3 {
  margin-right: 1.5rem;
}

/* line 36, ../temp/mischiefer/scss/addons/margin.scss */
.ml-3 {
  margin-left: 1.5rem;
}

/* line 6, ../temp/mischiefer/scss/addons/margin.scss */
.m-4 {
  margin: 2rem;
}

/* line 12, ../temp/mischiefer/scss/addons/margin.scss */
.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* line 17, ../temp/mischiefer/scss/addons/margin.scss */
.mt-4 {
  margin-top: 2rem;
}

/* line 21, ../temp/mischiefer/scss/addons/margin.scss */
.mb-4 {
  margin-bottom: 2rem;
}

/* line 27, ../temp/mischiefer/scss/addons/margin.scss */
.mx-4 {
  margin-right: 2rem;
  margin-left: 2rem;
}

/* line 32, ../temp/mischiefer/scss/addons/margin.scss */
.mr-4 {
  margin-right: 2rem;
}

/* line 36, ../temp/mischiefer/scss/addons/margin.scss */
.ml-4 {
  margin-left: 2rem;
}

/* line 6, ../temp/mischiefer/scss/addons/margin.scss */
.m-5 {
  margin: 2.5rem;
}

/* line 12, ../temp/mischiefer/scss/addons/margin.scss */
.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* line 17, ../temp/mischiefer/scss/addons/margin.scss */
.mt-5 {
  margin-top: 2.5rem;
}

/* line 21, ../temp/mischiefer/scss/addons/margin.scss */
.mb-5 {
  margin-bottom: 2.5rem;
}

/* line 27, ../temp/mischiefer/scss/addons/margin.scss */
.mx-5 {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

/* line 32, ../temp/mischiefer/scss/addons/margin.scss */
.mr-5 {
  margin-right: 2.5rem;
}

/* line 36, ../temp/mischiefer/scss/addons/margin.scss */
.ml-5 {
  margin-left: 2.5rem;
}

/* line 41, ../temp/mischiefer/scss/addons/margin.scss */
.mx-auto {
  margin: 0 auto;
}

/*# sourceMappingURL=margin.css.map */