/* line 6, ../temp/mischiefer/scss/addons/padding.scss */
.p-1 {
  padding: 0.5rem;
}

/* line 12, ../temp/mischiefer/scss/addons/padding.scss */
.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* line 17, ../temp/mischiefer/scss/addons/padding.scss */
.pt-1 {
  padding-top: 0.5rem;
}

/* line 21, ../temp/mischiefer/scss/addons/padding.scss */
.pb-1 {
  padding-bottom: 0.5rem;
}

/* line 27, ../temp/mischiefer/scss/addons/padding.scss */
.px-1 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/* line 32, ../temp/mischiefer/scss/addons/padding.scss */
.pr-1 {
  padding-right: 0.5rem;
}

/* line 36, ../temp/mischiefer/scss/addons/padding.scss */
.pl-1 {
  padding-left: 0.5rem;
}

/* line 6, ../temp/mischiefer/scss/addons/padding.scss */
.p-2 {
  padding: 1rem;
}

/* line 12, ../temp/mischiefer/scss/addons/padding.scss */
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* line 17, ../temp/mischiefer/scss/addons/padding.scss */
.pt-2 {
  padding-top: 1rem;
}

/* line 21, ../temp/mischiefer/scss/addons/padding.scss */
.pb-2 {
  padding-bottom: 1rem;
}

/* line 27, ../temp/mischiefer/scss/addons/padding.scss */
.px-2 {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* line 32, ../temp/mischiefer/scss/addons/padding.scss */
.pr-2 {
  padding-right: 1rem;
}

/* line 36, ../temp/mischiefer/scss/addons/padding.scss */
.pl-2 {
  padding-left: 1rem;
}

/* line 6, ../temp/mischiefer/scss/addons/padding.scss */
.p-3 {
  padding: 1.5rem;
}

/* line 12, ../temp/mischiefer/scss/addons/padding.scss */
.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* line 17, ../temp/mischiefer/scss/addons/padding.scss */
.pt-3 {
  padding-top: 1.5rem;
}

/* line 21, ../temp/mischiefer/scss/addons/padding.scss */
.pb-3 {
  padding-bottom: 1.5rem;
}

/* line 27, ../temp/mischiefer/scss/addons/padding.scss */
.px-3 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

/* line 32, ../temp/mischiefer/scss/addons/padding.scss */
.pr-3 {
  padding-right: 1.5rem;
}

/* line 36, ../temp/mischiefer/scss/addons/padding.scss */
.pl-3 {
  padding-left: 1.5rem;
}

/* line 6, ../temp/mischiefer/scss/addons/padding.scss */
.p-4 {
  padding: 2rem;
}

/* line 12, ../temp/mischiefer/scss/addons/padding.scss */
.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 17, ../temp/mischiefer/scss/addons/padding.scss */
.pt-4 {
  padding-top: 2rem;
}

/* line 21, ../temp/mischiefer/scss/addons/padding.scss */
.pb-4 {
  padding-bottom: 2rem;
}

/* line 27, ../temp/mischiefer/scss/addons/padding.scss */
.px-4 {
  padding-right: 2rem;
  padding-left: 2rem;
}

/* line 32, ../temp/mischiefer/scss/addons/padding.scss */
.pr-4 {
  padding-right: 2rem;
}

/* line 36, ../temp/mischiefer/scss/addons/padding.scss */
.pl-4 {
  padding-left: 2rem;
}

/* line 6, ../temp/mischiefer/scss/addons/padding.scss */
.p-5 {
  padding: 2.5rem;
}

/* line 12, ../temp/mischiefer/scss/addons/padding.scss */
.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* line 17, ../temp/mischiefer/scss/addons/padding.scss */
.pt-5 {
  padding-top: 2.5rem;
}

/* line 21, ../temp/mischiefer/scss/addons/padding.scss */
.pb-5 {
  padding-bottom: 2.5rem;
}

/* line 27, ../temp/mischiefer/scss/addons/padding.scss */
.px-5 {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

/* line 32, ../temp/mischiefer/scss/addons/padding.scss */
.pr-5 {
  padding-right: 2.5rem;
}

/* line 36, ../temp/mischiefer/scss/addons/padding.scss */
.pl-5 {
  padding-left: 2.5rem;
}

/*# sourceMappingURL=padding.css.map */