@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300;1,500;1,700&family=Signika:wght@300;500;700&display=swap");
/* line 64, ../temp/mischiefer/scss/addons/configs.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #2f2f40;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 0.95rem;
}

/* line 77, ../temp/mischiefer/scss/addons/configs.scss */
body {
  background-color: #f5f9fc;
}

/* line 81, ../temp/mischiefer/scss/addons/configs.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika", sans-serif;
  font-weight: 700;
}

/* line 6, ../temp/mischiefer/scss/addons/size.scss */
.col-1 {
  width: 8.33333%;
}

/* line 6, ../temp/mischiefer/scss/addons/size.scss */
.col-2 {
  width: 16.66667%;
}

/* line 6, ../temp/mischiefer/scss/addons/size.scss */
.col-3 {
  width: 25%;
}

/* line 6, ../temp/mischiefer/scss/addons/size.scss */
.col-4 {
  width: 33.33333%;
}

/* line 6, ../temp/mischiefer/scss/addons/size.scss */
.col-5 {
  width: 41.66667%;
}

/* line 6, ../temp/mischiefer/scss/addons/size.scss */
.col-6 {
  width: 50%;
}

/* line 6, ../temp/mischiefer/scss/addons/size.scss */
.col-7 {
  width: 58.33333%;
}

/* line 6, ../temp/mischiefer/scss/addons/size.scss */
.col-8 {
  width: 66.66667%;
}

/* line 6, ../temp/mischiefer/scss/addons/size.scss */
.col-9 {
  width: 75%;
}

/* line 6, ../temp/mischiefer/scss/addons/size.scss */
.col-10 {
  width: 83.33333%;
}

/* line 6, ../temp/mischiefer/scss/addons/size.scss */
.col-11 {
  width: 91.66667%;
}

/* line 6, ../temp/mischiefer/scss/addons/size.scss */
.col-12 {
  width: 100%;
}

@media (min-width: 600px) {
  /* line 12, ../temp/mischiefer/scss/addons/size.scss */
  .col-sm-1 {
    width: 8.33333%;
  }
}

@media (min-width: 600px) {
  /* line 12, ../temp/mischiefer/scss/addons/size.scss */
  .col-sm-2 {
    width: 16.66667%;
  }
}

@media (min-width: 600px) {
  /* line 12, ../temp/mischiefer/scss/addons/size.scss */
  .col-sm-3 {
    width: 25%;
  }
}

@media (min-width: 600px) {
  /* line 12, ../temp/mischiefer/scss/addons/size.scss */
  .col-sm-4 {
    width: 33.33333%;
  }
}

@media (min-width: 600px) {
  /* line 12, ../temp/mischiefer/scss/addons/size.scss */
  .col-sm-5 {
    width: 41.66667%;
  }
}

@media (min-width: 600px) {
  /* line 12, ../temp/mischiefer/scss/addons/size.scss */
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 600px) {
  /* line 12, ../temp/mischiefer/scss/addons/size.scss */
  .col-sm-7 {
    width: 58.33333%;
  }
}

@media (min-width: 600px) {
  /* line 12, ../temp/mischiefer/scss/addons/size.scss */
  .col-sm-8 {
    width: 66.66667%;
  }
}

@media (min-width: 600px) {
  /* line 12, ../temp/mischiefer/scss/addons/size.scss */
  .col-sm-9 {
    width: 75%;
  }
}

@media (min-width: 600px) {
  /* line 12, ../temp/mischiefer/scss/addons/size.scss */
  .col-sm-10 {
    width: 83.33333%;
  }
}

@media (min-width: 600px) {
  /* line 12, ../temp/mischiefer/scss/addons/size.scss */
  .col-sm-11 {
    width: 91.66667%;
  }
}

@media (min-width: 600px) {
  /* line 12, ../temp/mischiefer/scss/addons/size.scss */
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 900px) {
  /* line 20, ../temp/mischiefer/scss/addons/size.scss */
  .col-md-1 {
    width: 8.33333%;
  }
}

@media (min-width: 900px) {
  /* line 20, ../temp/mischiefer/scss/addons/size.scss */
  .col-md-2 {
    width: 16.66667%;
  }
}

@media (min-width: 900px) {
  /* line 20, ../temp/mischiefer/scss/addons/size.scss */
  .col-md-3 {
    width: 25%;
  }
}

@media (min-width: 900px) {
  /* line 20, ../temp/mischiefer/scss/addons/size.scss */
  .col-md-4 {
    width: 33.33333%;
  }
}

@media (min-width: 900px) {
  /* line 20, ../temp/mischiefer/scss/addons/size.scss */
  .col-md-5 {
    width: 41.66667%;
  }
}

@media (min-width: 900px) {
  /* line 20, ../temp/mischiefer/scss/addons/size.scss */
  .col-md-6 {
    width: 50%;
  }
}

@media (min-width: 900px) {
  /* line 20, ../temp/mischiefer/scss/addons/size.scss */
  .col-md-7 {
    width: 58.33333%;
  }
}

@media (min-width: 900px) {
  /* line 20, ../temp/mischiefer/scss/addons/size.scss */
  .col-md-8 {
    width: 66.66667%;
  }
}

@media (min-width: 900px) {
  /* line 20, ../temp/mischiefer/scss/addons/size.scss */
  .col-md-9 {
    width: 75%;
  }
}

@media (min-width: 900px) {
  /* line 20, ../temp/mischiefer/scss/addons/size.scss */
  .col-md-10 {
    width: 83.33333%;
  }
}

@media (min-width: 900px) {
  /* line 20, ../temp/mischiefer/scss/addons/size.scss */
  .col-md-11 {
    width: 91.66667%;
  }
}

@media (min-width: 900px) {
  /* line 20, ../temp/mischiefer/scss/addons/size.scss */
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  /* line 28, ../temp/mischiefer/scss/addons/size.scss */
  .col-lg-1 {
    width: 8.33333%;
  }
}

@media (min-width: 1200px) {
  /* line 28, ../temp/mischiefer/scss/addons/size.scss */
  .col-lg-2 {
    width: 16.66667%;
  }
}

@media (min-width: 1200px) {
  /* line 28, ../temp/mischiefer/scss/addons/size.scss */
  .col-lg-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  /* line 28, ../temp/mischiefer/scss/addons/size.scss */
  .col-lg-4 {
    width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  /* line 28, ../temp/mischiefer/scss/addons/size.scss */
  .col-lg-5 {
    width: 41.66667%;
  }
}

@media (min-width: 1200px) {
  /* line 28, ../temp/mischiefer/scss/addons/size.scss */
  .col-lg-6 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  /* line 28, ../temp/mischiefer/scss/addons/size.scss */
  .col-lg-7 {
    width: 58.33333%;
  }
}

@media (min-width: 1200px) {
  /* line 28, ../temp/mischiefer/scss/addons/size.scss */
  .col-lg-8 {
    width: 66.66667%;
  }
}

@media (min-width: 1200px) {
  /* line 28, ../temp/mischiefer/scss/addons/size.scss */
  .col-lg-9 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  /* line 28, ../temp/mischiefer/scss/addons/size.scss */
  .col-lg-10 {
    width: 83.33333%;
  }
}

@media (min-width: 1200px) {
  /* line 28, ../temp/mischiefer/scss/addons/size.scss */
  .col-lg-11 {
    width: 91.66667%;
  }
}

@media (min-width: 1200px) {
  /* line 28, ../temp/mischiefer/scss/addons/size.scss */
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 1800px) {
  /* line 36, ../temp/mischiefer/scss/addons/size.scss */
  .col-xl-1 {
    width: 8.33333%;
  }
}

@media (min-width: 1800px) {
  /* line 36, ../temp/mischiefer/scss/addons/size.scss */
  .col-xl-2 {
    width: 16.66667%;
  }
}

@media (min-width: 1800px) {
  /* line 36, ../temp/mischiefer/scss/addons/size.scss */
  .col-xl-3 {
    width: 25%;
  }
}

@media (min-width: 1800px) {
  /* line 36, ../temp/mischiefer/scss/addons/size.scss */
  .col-xl-4 {
    width: 33.33333%;
  }
}

@media (min-width: 1800px) {
  /* line 36, ../temp/mischiefer/scss/addons/size.scss */
  .col-xl-5 {
    width: 41.66667%;
  }
}

@media (min-width: 1800px) {
  /* line 36, ../temp/mischiefer/scss/addons/size.scss */
  .col-xl-6 {
    width: 50%;
  }
}

@media (min-width: 1800px) {
  /* line 36, ../temp/mischiefer/scss/addons/size.scss */
  .col-xl-7 {
    width: 58.33333%;
  }
}

@media (min-width: 1800px) {
  /* line 36, ../temp/mischiefer/scss/addons/size.scss */
  .col-xl-8 {
    width: 66.66667%;
  }
}

@media (min-width: 1800px) {
  /* line 36, ../temp/mischiefer/scss/addons/size.scss */
  .col-xl-9 {
    width: 75%;
  }
}

@media (min-width: 1800px) {
  /* line 36, ../temp/mischiefer/scss/addons/size.scss */
  .col-xl-10 {
    width: 83.33333%;
  }
}

@media (min-width: 1800px) {
  /* line 36, ../temp/mischiefer/scss/addons/size.scss */
  .col-xl-11 {
    width: 91.66667%;
  }
}

@media (min-width: 1800px) {
  /* line 36, ../temp/mischiefer/scss/addons/size.scss */
  .col-xl-12 {
    width: 100%;
  }
}

/*# sourceMappingURL=size.css.map */