@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300;1,500;1,700&family=Signika:wght@300;500;700&display=swap");
/* line 64, ../temp/mischiefer/scss/addons/configs.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #2f2f40;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 0.95rem;
}

/* line 77, ../temp/mischiefer/scss/addons/configs.scss */
body {
  background-color: #f5f9fc;
}

/* line 81, ../temp/mischiefer/scss/addons/configs.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika", sans-serif;
  font-weight: 700;
}

/* line 5, ../temp/mischiefer/scss/addons/text.scss */
* {
  color: var(--dark4);
  font-size: 0.95rem;
}

/* line 12, ../temp/mischiefer/scss/addons/text.scss */
h1 {
  font-size: 2rem;
}

/* line 16, ../temp/mischiefer/scss/addons/text.scss */
h2 {
  font-size: 1.8rem;
}

/* line 20, ../temp/mischiefer/scss/addons/text.scss */
h3 {
  font-size: 1.6rem;
}

/* line 24, ../temp/mischiefer/scss/addons/text.scss */
h4 {
  font-size: 1.4rem;
}

/* line 28, ../temp/mischiefer/scss/addons/text.scss */
h5 {
  font-size: 1.2rem;
}

/* line 32, ../temp/mischiefer/scss/addons/text.scss */
h6 {
  font-size: 1rem;
}

/* line 39, ../temp/mischiefer/scss/addons/text.scss */
.text-ff-title {
  font-family: "Signika", sans-serif !important;
}

/* line 43, ../temp/mischiefer/scss/addons/text.scss */
.text-ff-text {
  font-family: "Rubik", sans-serif !important;
}

/* line 47, ../temp/mischiefer/scss/addons/text.scss */
.text-ff-code {
  font-family: monospace !important;
}

/* line 53, ../temp/mischiefer/scss/addons/text.scss */
.text-lh-1 {
  line-height: 1;
}

/* line 57, ../temp/mischiefer/scss/addons/text.scss */
.text-lh-2 {
  line-height: 1.2;
}

/* line 61, ../temp/mischiefer/scss/addons/text.scss */
.text-lh-3,
p {
  line-height: 1.5;
}

/* line 66, ../temp/mischiefer/scss/addons/text.scss */
.text-lh-4 {
  line-height: 2;
}

/* line 72, ../temp/mischiefer/scss/addons/text.scss */
.text-fs-default {
  font-size: 0.95rem;
}

/* line 77, ../temp/mischiefer/scss/addons/text.scss */
.text-fs-1 {
  font-size: 1rem;
}

/* line 77, ../temp/mischiefer/scss/addons/text.scss */
.text-fs-2 {
  font-size: 1.5rem;
}

/* line 77, ../temp/mischiefer/scss/addons/text.scss */
.text-fs-3 {
  font-size: 2rem;
}

/* line 77, ../temp/mischiefer/scss/addons/text.scss */
.text-fs-4 {
  font-size: 2.5rem;
}

/* line 77, ../temp/mischiefer/scss/addons/text.scss */
.text-fs-5 {
  font-size: 3rem;
}

/* line 77, ../temp/mischiefer/scss/addons/text.scss */
.text-fs-6 {
  font-size: 3.5rem;
}

/* line 84, ../temp/mischiefer/scss/addons/text.scss */
.text-deco-none {
  text-decoration: none;
}

/* line 90, ../temp/mischiefer/scss/addons/text.scss */
.list-type-none {
  list-style-type: none;
}

/* line 96, ../temp/mischiefer/scss/addons/text.scss */
.text-regular {
  font-weight: 300;
}

/* line 100, ../temp/mischiefer/scss/addons/text.scss */
.text-medium {
  font-weight: 500;
}

/* line 104, ../temp/mischiefer/scss/addons/text.scss */
.text-bold {
  font-weight: 700;
}

/* line 110, ../temp/mischiefer/scss/addons/text.scss */
.text-align-center {
  text-align: center;
}

/* line 114, ../temp/mischiefer/scss/addons/text.scss */
.text-align-start {
  text-align: start;
}

/* line 118, ../temp/mischiefer/scss/addons/text.scss */
.text-align-end {
  text-align: end;
}

/* line 122, ../temp/mischiefer/scss/addons/text.scss */
.text-align-justify {
  text-align: justify;
}

/* line 129, ../temp/mischiefer/scss/addons/text.scss */
.text-color-1 {
  color: #474763;
}

/* line 131, ../temp/mischiefer/scss/addons/text.scss */
body.dark .text-color-1 {
  color: #f1f4f7;
}

/* line 136, ../temp/mischiefer/scss/addons/text.scss */
.text-light-1 {
  color: #f1f4f7 !important;
}

/* line 138, ../temp/mischiefer/scss/addons/text.scss */
body.dark .text-light-1 {
  color: #474763 !important;
}

/* line 143, ../temp/mischiefer/scss/addons/text.scss */
.text-dark-1 {
  color: #474763 !important;
}

/* line 145, ../temp/mischiefer/scss/addons/text.scss */
body.dark .text-dark-1 {
  color: #f1f4f7 !important;
}

/* line 129, ../temp/mischiefer/scss/addons/text.scss */
.text-color-2 {
  color: #5d5d7a;
}

/* line 131, ../temp/mischiefer/scss/addons/text.scss */
body.dark .text-color-2 {
  color: #d7dee6;
}

/* line 136, ../temp/mischiefer/scss/addons/text.scss */
.text-light-2 {
  color: #d7dee6 !important;
}

/* line 138, ../temp/mischiefer/scss/addons/text.scss */
body.dark .text-light-2 {
  color: #5d5d7a !important;
}

/* line 143, ../temp/mischiefer/scss/addons/text.scss */
.text-dark-2 {
  color: #5d5d7a !important;
}

/* line 145, ../temp/mischiefer/scss/addons/text.scss */
body.dark .text-dark-2 {
  color: #d7dee6 !important;
}

/* line 153, ../temp/mischiefer/scss/addons/text.scss */
.text-color-purple {
  color: #845dec !important;
}

/* line 153, ../temp/mischiefer/scss/addons/text.scss */
.text-color-blue {
  color: #51adf8 !important;
}

/* line 153, ../temp/mischiefer/scss/addons/text.scss */
.text-color-green {
  color: #37af73 !important;
}

/* line 153, ../temp/mischiefer/scss/addons/text.scss */
.text-color-yellow {
  color: #ffc14e !important;
}

/* line 153, ../temp/mischiefer/scss/addons/text.scss */
.text-color-salmon {
  color: #fa8072 !important;
}

/* line 153, ../temp/mischiefer/scss/addons/text.scss */
.text-color-red {
  color: #e34646 !important;
}

/* line 158, ../temp/mischiefer/scss/addons/text.scss */
.text-subtitle {
  color: #9eadbe;
  font-weight: 700;
}

/*# sourceMappingURL=text.css.map */