// Import configs

@import 'addons/configs.scss';

// Import everything in addons

@import 'addons/anchor.scss',
        'addons/background-color.scss',
        'addons/border.scss',
        'addons/box-shadow.scss',
        'addons/buttons.scss',
        'addons/card.scss',
        'addons/containers.scss',
        'addons/display.scss',
        'addons/flex.scss',
        'addons/forms.scss',
        'addons/margin.scss',
        'addons/navbar.scss',
        'addons/padding.scss',
        'addons/positioning.scss',
        'addons/size.scss',
        'addons/text.scss'; 

// Apply light/dark rules globally (?)

:root {
  --color-page-background: #{$light1};
  --color-text: #{$dark1};
}

body {
  background-color: var(--color-page-background);
  color: var(--color-text);
}

.dark {
  --color-page-background: #{$dark1};
  --color-text: #{$light1};
}







