@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300;1,500;1,700&family=Signika:wght@300;500;700&display=swap");
/* line 64, ../../../projects/mischiefer/scss-only/addons/configs.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #2f2f40;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 0.95rem;
}

/* line 77, ../../../projects/mischiefer/scss-only/addons/configs.scss */
body {
  background-color: #f5f9fc;
}

/* line 81, ../../../projects/mischiefer/scss-only/addons/configs.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika", sans-serif;
  font-weight: 700;
}

/* line 5, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 20;
}

/* line 13, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.has-navbar {
  margin-top: 70px;
}

/* line 17, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.navbar-1 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 20;
}

/* line 25, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.has-navbar-1 {
  margin-top: 50px;
}

/* line 29, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.navbar-2 {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  z-index: 20;
}

/* line 37, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.has-navbar-2 {
  margin-top: 90px;
}

/* line 41, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.navbar-3 {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  z-index: 20;
}

/* line 49, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.has-navbar-3 {
  margin-top: 110px;
}

/* line 53, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 900px) {
  /* line 53, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
  .navbar-container {
    width: 70%;
    padding: 0;
  }
}

/* line 65, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.navbar-container-full {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* line 73, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.navbar-brand {
  text-decoration: none;
}

/* line 77, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.navbar-container ul,
.navbar-container-full ul {
  list-style: none;
  display: flex;
  align-items: center;
}

/* line 84, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.navbar-container li,
.navbar-container-full li {
  margin-left: 0.8rem;
}

/* line 89, ../../../projects/mischiefer/scss-only/addons/navbar.scss */
.navbar-container a,
.navbar-container-full a {
  text-decoration: none;
}

/*# sourceMappingURL=navbar.css.map */