@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300;1,500;1,700&family=Signika:wght@300;500;700&display=swap");
/* line 62, ../../../projects/mischiefer/scss-only/mischiefer.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #2f2f40;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

/* line 78, ../../../projects/mischiefer/scss-only/mischiefer.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika", sans-serif;
  font-weight: 700;
}

/* line 92, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-ff-title {
  font-family: "Signika", sans-serif !important;
}

/* line 96, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-ff-text {
  font-family: "Rubik", sans-serif !important;
}

/* line 102, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-lh-1 {
  line-height: 1;
}

/* line 106, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-lh-2 {
  line-height: 1.2;
}

/* line 110, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-lh-3,
p {
  line-height: 1.5;
}

/* line 115, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-lh-4 {
  line-height: 2;
}

/* line 121, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-fs-default {
  font-size: 0.9rem;
}

/* line 126, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-fs-1 {
  font-size: 1rem;
}

/* line 126, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-fs-2 {
  font-size: 1.5rem;
}

/* line 126, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-fs-3 {
  font-size: 2rem;
}

/* line 126, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-fs-4 {
  font-size: 2.5rem;
}

/* line 126, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-fs-5 {
  font-size: 3rem;
}

/* line 126, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-fs-6 {
  font-size: 3.5rem;
}

/* line 133, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-regular {
  font-weight: 300;
}

/* line 137, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-medium {
  font-weight: 500;
}

/* line 141, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-bold {
  font-weight: 700;
}

/* line 147, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-align-center {
  text-align: center;
}

/* line 151, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-align-start {
  text-align: start;
}

/* line 155, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-align-end {
  text-align: end;
}

/* line 159, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-align-justify {
  text-align: justify;
}

/* line 166, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-color-1 {
  color: #474763;
}

/* line 166, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-color-2 {
  color: #5d5d7a;
}

/* line 173, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-color-purple {
  color: #845dec !important;
}

/* line 173, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-color-blue {
  color: #51adf8 !important;
}

/* line 173, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-color-green {
  color: #3bcf85 !important;
}

/* line 173, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-color-yellow {
  color: #ffc14e !important;
}

/* line 173, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-color-salmon {
  color: #fa8072 !important;
}

/* line 173, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-color-red {
  color: #e34646 !important;
}

/* line 178, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.text-subtitle {
  color: #9eadbe;
  font-weight: 700;
}

/* line 185, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.container {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

@media (min-width: 900px) {
  /* line 185, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .container {
    width: 70%;
    padding: 0;
  }
}

/* line 195, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.container-fluid {
  padding: 0 1rem;
}

/* line 201, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  margin: -0.5rem;
}

/* line 209, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.flex-align-items-center {
  align-items: center;
}

/* line 213, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.flex-align-items-end {
  align-items: flex-end;
}

/* line 217, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.flex-justify-content-end {
  justify-content: end;
}

/* line 221, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.flex-justify-content-center {
  justify-content: center;
}

/* line 225, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.flex-justify-content-around {
  justify-content: space-around;
}

/* line 229, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.flex-justify-content-between {
  justify-content: space-between;
}

/* line 233, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.flex-justify-content-evenly {
  justify-content: space-evenly;
}

/* line 237, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.flex-item {
  padding: 0.5rem;
  flex: 0 0 auto;
}

/* line 242, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.flex-no-wrap {
  flex-wrap: nowrap;
}

/* line 248, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.fixed-top {
  position: fixed;
  top: 0;
}

/* line 253, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.fixed-left {
  position: fixed;
  left: 0;
}

/* line 258, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.fixed-bottom {
  position: fixed;
  bottom: 0;
}

/* line 263, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.fixed-right {
  position: fixed;
  right: 0;
}

/* line 270, ../../../projects/mischiefer/scss-only/mischiefer.scss */
button {
  text-decoration: none;
  border-radius: 0;
  border: 0;
  cursor: pointer;
}

/* line 279, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-purple {
  background-color: #845dec;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important;
}

/* line 287, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-purple:hover {
  filter: brightness(1.2);
}

/* line 279, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-blue {
  background-color: #51adf8;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important;
}

/* line 287, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-blue:hover {
  filter: brightness(1.2);
}

/* line 279, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-green {
  background-color: #3bcf85;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important;
}

/* line 287, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-green:hover {
  filter: brightness(1.2);
}

/* line 279, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-yellow {
  background-color: #ffc14e;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important;
}

/* line 287, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-yellow:hover {
  filter: brightness(1.2);
}

/* line 279, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-salmon {
  background-color: #fa8072;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important;
}

/* line 287, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-salmon:hover {
  filter: brightness(1.2);
}

/* line 279, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-red {
  background-color: #e34646;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important;
}

/* line 287, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-red:hover {
  filter: brightness(1.2);
}

/* line 279, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-reverse {
  background-color: #474763;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  transition-duration: 0.2s !important;
}

/* line 287, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-solid-reverse:hover {
  filter: brightness(1.2);
}

/* line 294, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-purple {
  background-color: rgba(96, 67, 177, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #9470f5 !important;
  transition-duration: 0.2s !important;
}

/* line 303, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-purple:hover {
  opacity: 0.6;
}

/* line 294, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-blue {
  background-color: rgba(81, 173, 248, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #4795d4 !important;
  transition-duration: 0.2s !important;
}

/* line 303, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-blue:hover {
  opacity: 0.6;
}

/* line 294, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-green {
  background-color: rgba(59, 207, 133, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #3faa75 !important;
  transition-duration: 0.2s !important;
}

/* line 303, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-green:hover {
  opacity: 0.6;
}

/* line 294, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-yellow {
  background-color: rgba(255, 193, 78, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #d69927 !important;
  transition-duration: 0.2s !important;
}

/* line 303, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-yellow:hover {
  opacity: 0.6;
}

/* line 294, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-salmon {
  background-color: rgba(250, 128, 114, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #e66759 !important;
  transition-duration: 0.2s !important;
}

/* line 303, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-salmon:hover {
  opacity: 0.6;
}

/* line 294, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-red {
  background-color: rgba(227, 70, 70, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #be4040 !important;
  transition-duration: 0.2s !important;
}

/* line 303, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-red:hover {
  opacity: 0.6;
}

/* line 294, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-reverse {
  background-color: rgba(71, 71, 99, 0.2);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 18px;
  color: #5d5d7a !important;
  transition-duration: 0.2s !important;
}

/* line 303, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-reverse:hover {
  opacity: 0.6;
}

/* line 309, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-secondary-reverse-dark {
  background-color: rgba(120, 120, 151, 0.2);
  color: #9eadbe !important;
}

/* line 314, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-empty {
  border: 1px solid black;
  border-color: #9eadbe;
  cursor: pointer;
  text-decoration: none;
  padding: 9px 17px;
  background-color: rgba(0, 0, 0, 0);
  color: #adafc3 !important;
  transition-duration: 0.2s !important;
}

/* line 325, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-empty:hover {
  filter: brightness(0.2);
}

/* line 329, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-empty-dark {
  border-color: #5d5d7a;
  transition-duration: 0.2s !important;
}

/* line 334, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-empty-dark:hover {
  filter: brightness(1.6);
}

/* line 338, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-1 {
  padding: 14px 24px;
}

/* line 342, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-2 {
  padding: 18px 36px;
}

/* line 346, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-3 {
  padding: 22px 50px;
}

/* line 350, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-empty-1 {
  padding: 13px 23px;
}

/* line 354, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-empty-2 {
  padding: 17px 35px;
}

/* line 358, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.button-empty-3 {
  padding: 21px 49px;
}

/* line 364, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.card {
  background-color: #fff;
}

/* line 368, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.card-title {
  border-bottom: 2px solid #f1f4f7;
  padding: 1rem;
}

/* line 373, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.card-content {
  padding: 1.5rem 1rem;
}

/* line 379, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 20;
}

/* line 387, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.has-navbar {
  margin-top: 70px;
}

/* line 391, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.navbar-1 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 20;
}

/* line 399, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.has-navbar-1 {
  margin-top: 50px;
}

/* line 403, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.navbar-2 {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  z-index: 20;
}

/* line 411, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.has-navbar-2 {
  margin-top: 90px;
}

/* line 415, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.navbar-3 {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  z-index: 20;
}

/* line 423, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.has-navbar-3 {
  margin-top: 110px;
}

/* line 427, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 900px) {
  /* line 427, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .navbar-container {
    width: 70%;
    padding: 0;
  }
}

/* line 439, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.navbar-brand {
  text-decoration: none;
}

/* line 443, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.navbar-container ul {
  list-style: none;
  display: flex;
}

/* line 448, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.navbar-container li {
  margin-left: 0.8rem;
}

/* line 454, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.box-shadow {
  box-shadow: 0px 4px 20px rgba(150, 177, 205, 0.1);
}

/* line 461, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-1 {
  background-color: #fff;
}

/* line 461, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-2 {
  background-color: #f9fcff;
}

/* line 461, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-3 {
  background-color: #f1f4f7;
}

/* line 461, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-4 {
  background-color: #d7dee6;
}

/* line 468, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-purple {
  background-color: #845dec;
}

/* line 468, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-blue {
  background-color: #51adf8;
}

/* line 468, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-green {
  background-color: #3bcf85;
}

/* line 468, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-yellow {
  background-color: #ffc14e;
}

/* line 468, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-salmon {
  background-color: #fa8072;
}

/* line 468, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-red {
  background-color: #e34646;
}

/* line 473, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-reverse {
  background-color: #474763;
}

/* line 477, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-green {
  background-color: #3bcf85;
}

/* line 481, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-blue {
  background-color: #51adf8;
}

/* line 485, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-yellow {
  background-color: #ffc14e;
}

/* line 489, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-salmon {
  background-color: #fa8072;
}

/* line 493, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bg-color-red {
  background-color: #e34646;
}

/* line 500, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.col-1 {
  width: 8.33333%;
}

/* line 500, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.col-2 {
  width: 16.66667%;
}

/* line 500, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.col-3 {
  width: 25%;
}

/* line 500, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.col-4 {
  width: 33.33333%;
}

/* line 500, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.col-5 {
  width: 41.66667%;
}

/* line 500, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.col-6 {
  width: 50%;
}

/* line 500, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.col-7 {
  width: 58.33333%;
}

/* line 500, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.col-8 {
  width: 66.66667%;
}

/* line 500, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.col-9 {
  width: 75%;
}

/* line 500, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.col-10 {
  width: 83.33333%;
}

/* line 500, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.col-11 {
  width: 91.66667%;
}

/* line 500, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.col-12 {
  width: 100%;
}

@media (min-width: 600px) {
  /* line 506, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-sm-1 {
    width: 8.33333%;
  }
}

@media (min-width: 600px) {
  /* line 506, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-sm-2 {
    width: 16.66667%;
  }
}

@media (min-width: 600px) {
  /* line 506, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-sm-3 {
    width: 25%;
  }
}

@media (min-width: 600px) {
  /* line 506, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-sm-4 {
    width: 33.33333%;
  }
}

@media (min-width: 600px) {
  /* line 506, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-sm-5 {
    width: 41.66667%;
  }
}

@media (min-width: 600px) {
  /* line 506, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 600px) {
  /* line 506, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-sm-7 {
    width: 58.33333%;
  }
}

@media (min-width: 600px) {
  /* line 506, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-sm-8 {
    width: 66.66667%;
  }
}

@media (min-width: 600px) {
  /* line 506, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-sm-9 {
    width: 75%;
  }
}

@media (min-width: 600px) {
  /* line 506, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-sm-10 {
    width: 83.33333%;
  }
}

@media (min-width: 600px) {
  /* line 506, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-sm-11 {
    width: 91.66667%;
  }
}

@media (min-width: 600px) {
  /* line 506, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 900px) {
  /* line 514, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-md-1 {
    width: 8.33333%;
  }
}

@media (min-width: 900px) {
  /* line 514, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-md-2 {
    width: 16.66667%;
  }
}

@media (min-width: 900px) {
  /* line 514, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-md-3 {
    width: 25%;
  }
}

@media (min-width: 900px) {
  /* line 514, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-md-4 {
    width: 33.33333%;
  }
}

@media (min-width: 900px) {
  /* line 514, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-md-5 {
    width: 41.66667%;
  }
}

@media (min-width: 900px) {
  /* line 514, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-md-6 {
    width: 50%;
  }
}

@media (min-width: 900px) {
  /* line 514, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-md-7 {
    width: 58.33333%;
  }
}

@media (min-width: 900px) {
  /* line 514, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-md-8 {
    width: 66.66667%;
  }
}

@media (min-width: 900px) {
  /* line 514, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-md-9 {
    width: 75%;
  }
}

@media (min-width: 900px) {
  /* line 514, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-md-10 {
    width: 83.33333%;
  }
}

@media (min-width: 900px) {
  /* line 514, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-md-11 {
    width: 91.66667%;
  }
}

@media (min-width: 900px) {
  /* line 514, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  /* line 522, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-lg-1 {
    width: 8.33333%;
  }
}

@media (min-width: 1200px) {
  /* line 522, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-lg-2 {
    width: 16.66667%;
  }
}

@media (min-width: 1200px) {
  /* line 522, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-lg-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  /* line 522, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-lg-4 {
    width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  /* line 522, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-lg-5 {
    width: 41.66667%;
  }
}

@media (min-width: 1200px) {
  /* line 522, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-lg-6 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  /* line 522, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-lg-7 {
    width: 58.33333%;
  }
}

@media (min-width: 1200px) {
  /* line 522, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-lg-8 {
    width: 66.66667%;
  }
}

@media (min-width: 1200px) {
  /* line 522, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-lg-9 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  /* line 522, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-lg-10 {
    width: 83.33333%;
  }
}

@media (min-width: 1200px) {
  /* line 522, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-lg-11 {
    width: 91.66667%;
  }
}

@media (min-width: 1200px) {
  /* line 522, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 1800px) {
  /* line 530, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-xl-1 {
    width: 8.33333%;
  }
}

@media (min-width: 1800px) {
  /* line 530, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-xl-2 {
    width: 16.66667%;
  }
}

@media (min-width: 1800px) {
  /* line 530, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-xl-3 {
    width: 25%;
  }
}

@media (min-width: 1800px) {
  /* line 530, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-xl-4 {
    width: 33.33333%;
  }
}

@media (min-width: 1800px) {
  /* line 530, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-xl-5 {
    width: 41.66667%;
  }
}

@media (min-width: 1800px) {
  /* line 530, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-xl-6 {
    width: 50%;
  }
}

@media (min-width: 1800px) {
  /* line 530, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-xl-7 {
    width: 58.33333%;
  }
}

@media (min-width: 1800px) {
  /* line 530, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-xl-8 {
    width: 66.66667%;
  }
}

@media (min-width: 1800px) {
  /* line 530, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-xl-9 {
    width: 75%;
  }
}

@media (min-width: 1800px) {
  /* line 530, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-xl-10 {
    width: 83.33333%;
  }
}

@media (min-width: 1800px) {
  /* line 530, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-xl-11 {
    width: 91.66667%;
  }
}

@media (min-width: 1800px) {
  /* line 530, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .col-xl-12 {
    width: 100%;
  }
}

/* line 542, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.d-none {
  display: none;
}

/* line 542, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.d-inline {
  display: inline;
}

/* line 542, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.d-block {
  display: block;
}

/* line 542, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.d-inline-block {
  display: inline-block;
}

/* line 542, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.d-flex {
  display: flex;
}

/* line 542, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.d-grid {
  display: grid;
}

/* line 542, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.d-contents {
  display: contents;
}

@media (min-width: 600px) {
  /* line 548, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-sm-none {
    display: none;
  }
}

@media (min-width: 600px) {
  /* line 548, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-sm-inline {
    display: inline;
  }
}

@media (min-width: 600px) {
  /* line 548, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-sm-block {
    display: block;
  }
}

@media (min-width: 600px) {
  /* line 548, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-sm-inline-block {
    display: inline-block;
  }
}

@media (min-width: 600px) {
  /* line 548, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-sm-flex {
    display: flex;
  }
}

@media (min-width: 600px) {
  /* line 548, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-sm-grid {
    display: grid;
  }
}

@media (min-width: 600px) {
  /* line 548, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-sm-contents {
    display: contents;
  }
}

@media (min-width: 900px) {
  /* line 556, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-md-none {
    display: none;
  }
}

@media (min-width: 900px) {
  /* line 556, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-md-inline {
    display: inline;
  }
}

@media (min-width: 900px) {
  /* line 556, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-md-block {
    display: block;
  }
}

@media (min-width: 900px) {
  /* line 556, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-md-inline-block {
    display: inline-block;
  }
}

@media (min-width: 900px) {
  /* line 556, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-md-flex {
    display: flex;
  }
}

@media (min-width: 900px) {
  /* line 556, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-md-grid {
    display: grid;
  }
}

@media (min-width: 900px) {
  /* line 556, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-md-contents {
    display: contents;
  }
}

@media (min-width: 1200px) {
  /* line 564, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-lg-none {
    display: none;
  }
}

@media (min-width: 1200px) {
  /* line 564, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-lg-inline {
    display: inline;
  }
}

@media (min-width: 1200px) {
  /* line 564, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-lg-block {
    display: block;
  }
}

@media (min-width: 1200px) {
  /* line 564, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-lg-inline-block {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  /* line 564, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-lg-flex {
    display: flex;
  }
}

@media (min-width: 1200px) {
  /* line 564, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-lg-grid {
    display: grid;
  }
}

@media (min-width: 1200px) {
  /* line 564, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-lg-contents {
    display: contents;
  }
}

@media (min-width: 1800px) {
  /* line 572, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-xl-none {
    display: none;
  }
}

@media (min-width: 1800px) {
  /* line 572, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-xl-inline {
    display: inline;
  }
}

@media (min-width: 1800px) {
  /* line 572, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-xl-block {
    display: block;
  }
}

@media (min-width: 1800px) {
  /* line 572, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-xl-inline-block {
    display: inline-block;
  }
}

@media (min-width: 1800px) {
  /* line 572, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-xl-flex {
    display: flex;
  }
}

@media (min-width: 1800px) {
  /* line 572, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-xl-grid {
    display: grid;
  }
}

@media (min-width: 1800px) {
  /* line 572, ../../../projects/mischiefer/scss-only/mischiefer.scss */
  .d-xl-contents {
    display: contents;
  }
}

/* line 584, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-0 {
  border: 0px solid #d7dee6;
}

/* line 590, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.by-0 {
  border-top: 0px solid #d7dee6;
  border-bottom: 0px solid #d7dee6;
}

/* line 595, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bt-0 {
  border-top: 0px solid #d7dee6;
}

/* line 599, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bb-0 {
  border-bottom: 0px solid #d7dee6;
}

/* line 605, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bx-0 {
  border-right: 0px solid #d7dee6;
  border-left: 0px solid #d7dee6;
}

/* line 610, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.br-0 {
  border-right: 0px solid #d7dee6;
}

/* line 614, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bl-0 {
  border-left: 0px solid #d7dee6;
}

/* line 584, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-1 {
  border: 1px solid #d7dee6;
}

/* line 590, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.by-1 {
  border-top: 1px solid #d7dee6;
  border-bottom: 1px solid #d7dee6;
}

/* line 595, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bt-1 {
  border-top: 1px solid #d7dee6;
}

/* line 599, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bb-1 {
  border-bottom: 1px solid #d7dee6;
}

/* line 605, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bx-1 {
  border-right: 1px solid #d7dee6;
  border-left: 1px solid #d7dee6;
}

/* line 610, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.br-1 {
  border-right: 1px solid #d7dee6;
}

/* line 614, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bl-1 {
  border-left: 1px solid #d7dee6;
}

/* line 584, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-2 {
  border: 2px solid #d7dee6;
}

/* line 590, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.by-2 {
  border-top: 2px solid #d7dee6;
  border-bottom: 2px solid #d7dee6;
}

/* line 595, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bt-2 {
  border-top: 2px solid #d7dee6;
}

/* line 599, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bb-2 {
  border-bottom: 2px solid #d7dee6;
}

/* line 605, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bx-2 {
  border-right: 2px solid #d7dee6;
  border-left: 2px solid #d7dee6;
}

/* line 610, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.br-2 {
  border-right: 2px solid #d7dee6;
}

/* line 614, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bl-2 {
  border-left: 2px solid #d7dee6;
}

/* line 584, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-3 {
  border: 3px solid #d7dee6;
}

/* line 590, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.by-3 {
  border-top: 3px solid #d7dee6;
  border-bottom: 3px solid #d7dee6;
}

/* line 595, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bt-3 {
  border-top: 3px solid #d7dee6;
}

/* line 599, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bb-3 {
  border-bottom: 3px solid #d7dee6;
}

/* line 605, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bx-3 {
  border-right: 3px solid #d7dee6;
  border-left: 3px solid #d7dee6;
}

/* line 610, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.br-3 {
  border-right: 3px solid #d7dee6;
}

/* line 614, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bl-3 {
  border-left: 3px solid #d7dee6;
}

/* line 584, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-4 {
  border: 4px solid #d7dee6;
}

/* line 590, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.by-4 {
  border-top: 4px solid #d7dee6;
  border-bottom: 4px solid #d7dee6;
}

/* line 595, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bt-4 {
  border-top: 4px solid #d7dee6;
}

/* line 599, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bb-4 {
  border-bottom: 4px solid #d7dee6;
}

/* line 605, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bx-4 {
  border-right: 4px solid #d7dee6;
  border-left: 4px solid #d7dee6;
}

/* line 610, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.br-4 {
  border-right: 4px solid #d7dee6;
}

/* line 614, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bl-4 {
  border-left: 4px solid #d7dee6;
}

/* line 584, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-5 {
  border: 5px solid #d7dee6;
}

/* line 590, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.by-5 {
  border-top: 5px solid #d7dee6;
  border-bottom: 5px solid #d7dee6;
}

/* line 595, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bt-5 {
  border-top: 5px solid #d7dee6;
}

/* line 599, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bb-5 {
  border-bottom: 5px solid #d7dee6;
}

/* line 605, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bx-5 {
  border-right: 5px solid #d7dee6;
  border-left: 5px solid #d7dee6;
}

/* line 610, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.br-5 {
  border-right: 5px solid #d7dee6;
}

/* line 614, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.bl-5 {
  border-left: 5px solid #d7dee6;
}

/* line 624, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-top-1 {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

/* line 629, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-right-1 {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 634, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-bottom-1 {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 639, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-left-1 {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

/* line 644, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-1 {
  border-radius: 4px;
}

/* line 624, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-top-2 {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

/* line 629, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-right-2 {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

/* line 634, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-bottom-2 {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* line 639, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-left-2 {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

/* line 644, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-2 {
  border-radius: 8px;
}

/* line 624, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-top-3 {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

/* line 629, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-right-3 {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

/* line 634, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-bottom-3 {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

/* line 639, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-left-3 {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

/* line 644, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-3 {
  border-radius: 12px;
}

/* line 624, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-top-4 {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

/* line 629, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-right-4 {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

/* line 634, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-bottom-4 {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

/* line 639, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-left-4 {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}

/* line 644, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-4 {
  border-radius: 16px;
}

/* line 624, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-top-5 {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* line 629, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-right-5 {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

/* line 634, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-bottom-5 {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* line 639, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-left-5 {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

/* line 644, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-5 {
  border-radius: 20px;
}

/* line 649, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-top-max {
  border-top-right-radius: 9999px;
  border-top-left-radius: 9999px;
}

/* line 654, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-right-max {
  border-bottom-right-radius: 9999px;
  border-top-right-radius: 9999px;
}

/* line 659, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-bottom-max {
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

/* line 664, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-left-max {
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
}

/* line 669, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.rounded-max {
  border-radius: 9999px;
}

/* line 675, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-color-1 {
  border-color: #fff;
}

/* line 679, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-color-2 {
  border-color: #f9fcff;
}

/* line 683, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-color-3 {
  border-color: #f1f4f7;
}

/* line 687, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-color-4 {
  border-color: #d7dee6;
}

/* line 691, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-color-5 {
  border-color: #9eadbe;
}

/* line 695, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-color-reverse {
  border-color: #474763;
}

/* line 699, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-color-green {
  border-color: #3bcf85;
}

/* line 703, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-color-blue {
  border-color: #51adf8;
}

/* line 707, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-color-yellow {
  border-color: #ffc14e;
}

/* line 711, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-color-salmon {
  border-color: #fa8072;
}

/* line 715, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.b-color-red {
  border-color: #e34646;
}

/* line 724, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.p-1 {
  padding: 0.5rem;
}

/* line 730, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* line 735, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pt-1 {
  padding-top: 0.5rem;
}

/* line 739, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pb-1 {
  padding-bottom: 0.5rem;
}

/* line 745, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.px-1 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/* line 750, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pr-1 {
  padding-right: 0.5rem;
}

/* line 754, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pl-1 {
  padding-left: 0.5rem;
}

/* line 724, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.p-2 {
  padding: 1rem;
}

/* line 730, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* line 735, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pt-2 {
  padding-top: 1rem;
}

/* line 739, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pb-2 {
  padding-bottom: 1rem;
}

/* line 745, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.px-2 {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* line 750, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pr-2 {
  padding-right: 1rem;
}

/* line 754, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pl-2 {
  padding-left: 1rem;
}

/* line 724, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.p-3 {
  padding: 1.5rem;
}

/* line 730, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* line 735, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pt-3 {
  padding-top: 1.5rem;
}

/* line 739, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pb-3 {
  padding-bottom: 1.5rem;
}

/* line 745, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.px-3 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

/* line 750, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pr-3 {
  padding-right: 1.5rem;
}

/* line 754, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pl-3 {
  padding-left: 1.5rem;
}

/* line 724, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.p-4 {
  padding: 2rem;
}

/* line 730, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 735, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pt-4 {
  padding-top: 2rem;
}

/* line 739, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pb-4 {
  padding-bottom: 2rem;
}

/* line 745, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.px-4 {
  padding-right: 2rem;
  padding-left: 2rem;
}

/* line 750, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pr-4 {
  padding-right: 2rem;
}

/* line 754, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pl-4 {
  padding-left: 2rem;
}

/* line 724, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.p-5 {
  padding: 2.5rem;
}

/* line 730, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* line 735, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pt-5 {
  padding-top: 2.5rem;
}

/* line 739, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pb-5 {
  padding-bottom: 2.5rem;
}

/* line 745, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.px-5 {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

/* line 750, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pr-5 {
  padding-right: 2.5rem;
}

/* line 754, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.pl-5 {
  padding-left: 2.5rem;
}

/* line 764, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.m-1 {
  margin: 0.5rem;
}

/* line 770, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* line 775, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mt-1 {
  margin-top: 0.5rem;
}

/* line 779, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mb-1 {
  margin-bottom: 0.5rem;
}

/* line 785, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mx-1 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

/* line 790, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mr-1 {
  margin-right: 0.5rem;
}

/* line 794, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.ml-1 {
  margin-left: 0.5rem;
}

/* line 764, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.m-2 {
  margin: 1rem;
}

/* line 770, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* line 775, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mt-2 {
  margin-top: 1rem;
}

/* line 779, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mb-2 {
  margin-bottom: 1rem;
}

/* line 785, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mx-2 {
  margin-right: 1rem;
  margin-left: 1rem;
}

/* line 790, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mr-2 {
  margin-right: 1rem;
}

/* line 794, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.ml-2 {
  margin-left: 1rem;
}

/* line 764, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.m-3 {
  margin: 1.5rem;
}

/* line 770, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 775, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mt-3 {
  margin-top: 1.5rem;
}

/* line 779, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mb-3 {
  margin-bottom: 1.5rem;
}

/* line 785, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mx-3 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

/* line 790, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mr-3 {
  margin-right: 1.5rem;
}

/* line 794, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.ml-3 {
  margin-left: 1.5rem;
}

/* line 764, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.m-4 {
  margin: 2rem;
}

/* line 770, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* line 775, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mt-4 {
  margin-top: 2rem;
}

/* line 779, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mb-4 {
  margin-bottom: 2rem;
}

/* line 785, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mx-4 {
  margin-right: 2rem;
  margin-left: 2rem;
}

/* line 790, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mr-4 {
  margin-right: 2rem;
}

/* line 794, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.ml-4 {
  margin-left: 2rem;
}

/* line 764, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.m-5 {
  margin: 2.5rem;
}

/* line 770, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* line 775, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mt-5 {
  margin-top: 2.5rem;
}

/* line 779, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mb-5 {
  margin-bottom: 2.5rem;
}

/* line 785, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mx-5 {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

/* line 790, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mr-5 {
  margin-right: 2.5rem;
}

/* line 794, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.ml-5 {
  margin-left: 2.5rem;
}

/* line 799, ../../../projects/mischiefer/scss-only/mischiefer.scss */
.mx-auto {
  margin: 0 auto;
}

/* line 811, ../../../projects/mischiefer/scss-only/mischiefer.scss */
* {
  background-color: #fff;
}

/* line 813, ../../../projects/mischiefer/scss-only/mischiefer.scss */
body.dark * {
  background-color: #37374f;
}

/*# sourceMappingURL=mischiefer.css.map */